@import "bootstrap/scss/bootstrap";

.img-size {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

body {
  background-color: #f8f9fa;
}

.black-button {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  background-color: black;
  color: white;
  display: block;
  margin: 2em auto;
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.5em;
  font-family: sans-serif;
  text-align: center;
}

.card-title {
  font-family: 'starjedi';
}

.navbar-text {
  font-family: sans-serif;
  font-weight: 300;
}

.site-title {
  font-family: 'starjedi';
  color: white;
  text-decoration: none;
  font-size: 2em;
}